# =========================
# Large biomechanics datasets
# =========================
*.mat
*.c3d
*.trc
*.mot
*.sto

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# =========================
# Jupyter
# =========================
*.ipynb_checkpoints

# =========================
# VS Code
# =========================
.vscode/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Temporary files
# =========================
*.log
*.tmp

# =========================
# Large data folders
# =========================
data/raw/
